*{
    margin: 0px;
    padding: 0px;
}
div,h1,h2{
    /* display: inline-block; */
    flex-grow: 1;
    flex-basis: 170px;
}

main{
    width: 1200px;
    background-color: cadetblue;
    height: 600px;
    display: flex;

    /* default */
    /* justify-content: start; */
    /* justify-content: flex-start; */
    /* justify-content: left; */
    /* justify-content: stretch; */

    /* justify-content: end; */
    /* justify-content: flex-end; */
    /* justify-content: right; */

    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    

    /* default */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */

    /* flex-direction: column; */
    /* flex-direction: column-reverse; */


    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */


    /* flex-flow: column; */
    /* flex-flow: wrap; */
    /* flex-flow: row-reverse wrap; */

    /* row-gap: 10px;     */
    /* column-gap: 20px; */

        /* row   column  */
    /* gap: 20px 50px; */

    /* align-items: start; */
    /* align-items: flex-start; */

    /* align-items: end; */
    /* align-items: flex-end; */
    /* align-items: center; */

    /* align-items: baseline; */
    /* align-items: first baseline; */
    /* align-items: last baseline; */
}
.box1{
    background-color: red;
    order: 2;
}
.box2{
    /* align-self: center; */
    background-color: yellow;
    /* align-self: flex-start; */
    /* align-self: flex-end; */
    order: 1;
}
.box3{
    background-color: green;
}
.box4{
    background-color: blue;
}
.box5{
    background-color: goldenrod;
    /* flex-grow: 2; */ 
}
.box6{
    background-color: purple;
}
.box7{
    background-color: aqua;
}
.box8{
    background-color: violet;
    /* flex-shrink: 2; */
}

/* 
Parent : 
    justify-content: ;
    flex-direction: ;
    flex-wrap: ;
    flex-flow: ;
    gap: ;
    row-gap: ;
    column-gap: ;
    align-items: ;




Child : 
    flex-grow: ;
    align-self: ;
    flex-basis: ;

    flex-shrink: ;
    order: ;
    


*/

/* https://res.cloudinary.com/practicaldev/image/fetch/s--nQgj2FWx--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/03iduji2vo00lo1vbanr.gif */