*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.wrapper{
    display: grid;
    width: 100%;
    background-color: skyblue;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    /* row  column */
    padding: 10px;
    gap: 20px 30px;
}
div.wrapper div{
    border: 1px solid black;
}
/* section */
section{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2,1fr);
}
article{
    border: 1px solid red;
    padding: 50px 20px;
    gap: 10px;
}
.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: justify;
}
.content img{
    width: 100%;
    height: 100%;
    
}
.content p{
    grid-column: 1/span 2;

    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
#img-92{
    grid-column: 1/span 2;
    grid-row:  1/ span 2;
}
.content-2{
    display: grid;
    grid-template-columns: 1fr;
    padding:20px;
    gap: 10px;
}
.content-3{
    padding: 50px 30px;
}
.content-1{
    display: grid;
    grid-template-columns: 1fr;
    padding:20px;
    gap: 10px;
    text-align: justify;
}
.content-1 h3{
    text-align: right;
}
.content-1 img{
    grid-column: 1/span 2;
}
.content-21{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;  
}
.content-21 h3{
    text-align: center;
}
.content-3{
    display: grid;
    grid-template-columns: 1fr;
}
.content-3 h3{
    grid-column: 1/span 2;
}
.content-5{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 0px 20px 10px;
    grid-template-rows: 1fr .5fr;
}
.content-5 span{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    column-count: 2;
    padding-right: 10px;
}
.content-51{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 10px 20px 0px;
    grid-template-rows: 1fr .5fr;
}
.content-51 img{
    transform: scaleX(-1);
}
.content-51 h3{
    padding-left: 30px;
}
.content-6 p{
    column-count: 2;
    column-gap: 20px;
}
#cn-9{
    grid-column: 1/span 2;
    text-align: right;
}
.content-8{
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 60px  0px 40px 20px;
}
.content-81{
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 60px 20px 40px 0px;
}
.content-81 h3{
    text-align: right;
}